.displayclock{
    min-height: 100vh;
                             //border:5px solid red !important;
    position:relative;
}
.setclock{
    text-align: center;
    font-size: 72px;
    background-color: #333333;
    color:#fff;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top:40%;
    left:0%;
    right:0%;
    width:100%;

 
}
